


<section class="jumbotron text-center" id="HomeIndex">
    <div class="container">
        <h1>Welcome to Computer Programming</h1>
        <p class="lead text-muted">
            Lorem ipsum dolor sit mmet,consectetur adipisin elit, set do eiusomo tempor icdidudnt ut
            quis nostrud exercitation ullamco laboriew b isi ut alliquip ex ea consequat
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>

</section>
@section Scripts{
<script src="~/js/Script.js"></script>
}


